<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02</title>
    <script src="vue2.6.10.js"></script>
    <style>
        .ch {
            color: white;
            background: #33546a;
        }
    </style>
</head>
<body>
<div id="demo2">
    <demo-table :info1="list1" :info2="Contents1" ></demo-table>
    <br/>
    <demo-table :info1="list2" :info2="Contents2" ></demo-table>
</div>
<script>
    var DemoTable={
        template:`<div :style="table">
                      <div :style="tab">
                          <ul :style="ul">
                              <li v-for="(item,index) in info1" :key="index"  :class="{ch:num==index}" @click="getNum(index)" :style="li">
                                  {{item}}
                              </li>
                          </ul>
                      </div>
                      <div>
                          <div v-for='(itemCon,index) in info2' v-show="index == num">
                              {{itemCon}}
                          </div>
                      </div>
              </div>`,
        data(){
            return{
                num: 0,
                table:'border:2px solid #33546a;width:900px;height:200px; font-size: 18px;',
                tab:'color:black;width:900px;height:40px;',
                ul: 'width: 100%;display: flex;list-style: none; padding: 0;margin: 0;line-height: 40px;border:1px solid #33546a;',
                li:'flex: 1;text-align: center;',
                text: 'border:2px solid #33546a; width:60px;height:30px;'
            }
        },
        methods:{
            getNum(index) {
                this.num = index;
            }
        },
        props:['info1','info2']
    }
    new Vue({
        el:'#demo2',
        data(){
            return{
                list1: ["选项卡1", "选项卡2", "选项卡3"],
                Contents1: [
                    "这是选项卡1的内容",
                    "这是选项卡2的内容",
                    "这是选项卡3的内容"],
                list2: ["京东超市", "数码电器", "服饰美妆"],
                Contents2: [
                    "时令生鲜",
                    "电脑",
                    "唇釉"],
            }
        },

        components:{DemoTable}
    })
</script>
</body>
</html>